#navbar {
  background: linear-gradient(180deg, black 0%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 8px 0 4px;
  font-family: 'Manrope', sans-serif;
}

.navbar-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

.navbar-brand {
  display: flex;
  align-items: center;
  gap: 12px;
  font-weight: 700;
  font-size: 1.6rem;
  color: white;
}

.navbar-brand:hover {
  color: var(--primary-color);
}

.navbar-logo {
  width: 45px;
  height: 45px;
}

.navbar-menu {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 30px;  
}
.icon-github {
  border-radius: 50%;
  transition: all 0.3s ease;
  padding: 0;
}
.icon-linkedin {
  border-radius: 0;
  transition: all 0.3s ease;
  padding: 0;
}

.navbar-menu img:hover {
  transform: translateY(-2px) !important;
  box-shadow: 0 5px 10px rgb(214, 47, 186, 0.4);
}

.navbar-link {
  font-weight: 500;
  color: #ffffff !important;
  padding: 8px 0;
  position: relative;
  transition: all 0.3s ease;
}

.navbar-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--primary-color);
  transition: all 0.3s ease;
}

.navbar-link:hover {
  color: var(--primary-color);
}

.navbar-link:hover::after {
  width: 100%;
}

.curriculum img {
  filter: invert(1);
  align-items: center;
  margin-top: 10px;
  transition: filter 0.3s ease;
}
.curriculum img:hover {
  filter: invert(1);
  transform: translateY(-2px);
  box-shadow: 0 5px 10px rgb(214, 47, 186, 0.4);
}

@media (max-width: 768px) {
  .navbar-container {
    height: 60px;
  }

  .navbar-menu {
    display: none;
  }
}
