.section-stack {
  background-color: #000000;
  padding: 100px 20px;
}
.section-title {
  text-align: left;
  font-size: 4rem;
  color: #ffffff;
  margin-left: 10%;
  margin-bottom: 100px;
  font-family: 'Manrope', sans-serif;
  font-weight: 700;
}

.stack-grid {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 800px;
  margin: 50px auto 0;
}

.stack-card {
  background: rgb(0, 0, 0);
  border: 2.5px solid var(--primary-color);
  border-radius: 12px;
  padding: 2rem;
  box-shadow: 0 4px 12px rgb(214, 47, 186);
  opacity: 0;
  transform: translateX(-500px);
  transition: opacity 1s ease, transform 1s ease, box-shadow 0.3s ease;
}

.stack-card-visible {
  opacity: 1;
  transform: translateX(0);
}
.stack-card:hover {
  transform: translateY(-5px) !important;
  box-shadow: 0 8px 20px rgb(214, 47, 186, 0.4);
}

.stack-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 1rem;
  text-align: left;
}

.stack-icons-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
  gap: 1rem;
  justify-items: center;
  margin-bottom: 1.5rem;
}

.stack-icon {
  width: 50px;
  height: 50px;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.stack-icon:hover {
  transform: scale(1.1);
  filter: invert(99%) sepia(1%) saturate(2%) hue-rotate(103deg) brightness(116%) contrast(100%)
          drop-shadow(0 0 5px rgba(255, 255, 255, 0.8));
}

.stack-excerpt {
  color: #ffffff;
  line-height: 1.6;
  text-align: center;
  font-size: 0.95rem;
}

.icon-label {
  color: white;
  font-size: 0.8rem;
  margin-top: 0.3rem;
  text-align: center;
}